{% extends 'base.html' %}


{% block content %}
{{block.super}}

    {% if user.is_authenticated %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img src="{{userProfile.profile_photo.url}}" alt="">
                <h2>{{ user.username }}</h2>
                <h2>{{ userProfile.profile_bio }}</h2>
            </div>

            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'create-profile' %}">Edit Profile</a></li>
                <li><a href="{% url 'new-post' %}">Post</a></li>
                <li><a href="/accounts/password/change">Change Password</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        {% for photo_item in photos %}

            <img src="{{photo_item.image.url}}" alt="">

        {% endfor %}
    </div>

    {% endif %}

{% endblock content %}