{% extends 'base.html' %}


{% block content %}
{{block.super}}

    <div class="card">
        <div class="container">
            <h2>{{ images.image_name }}</h2>
            <img src="{{images.image_path.url}}" alt="">
            <br><br>
            <h3>{{images.image_caption}}</h3>
            <p>Posted by: <strong>{{images.image_author.username}}</strong> on {{images.pub_date| date}}.</p>
            <br>

            {% for comment in comments %}

                <div class="row">
                    <p><strong>{{comment.profile_id.user}}: </strong>{{comment.comment}}</p>

            {% endfor %}
                </div>
        </div>
    </div>
    
{% endblock content %}